<a class="navbar-logo" href="#"></a>

<nav class="navbar-inverse navbar-upper">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right"> 
          <li>  
            <form class="navbar-form" role="search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
              </div>
            </form> 
          </li>
   
          <li class="dropdown">
            <a href="" class="inactiveLink" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome, Praveen Kumar</a>
            <ul class="dropdown-menu">
              <li><a href="#">Change Password</a></li>
              <li><a href="#">Support</a></li>            
              <li role="separator" class="divider"></li>
              <li><a href="#">Logout</a></li>
            </ul>
          </li>
      </ul>
  </div>
</nav>

<nav class="navbar navbar-default navbar-static-top navbar-lower">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
       <li class="active">            
            <a href="/home">&nbsp;&nbsp;Home <span class="sr-only">(current)</span>
                <span class="glyphicon glyphicon-home pull-left" aria-hidden="true"></span>
            </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">&nbsp;&nbsp;Card Management
            <span class="glyphicon glyphicon-credit-card pull-left" aria-hidden="true"></span>
          </a>
          <!--<<ul class="dropdown-menu">
            <li><a href="/cardlist">Card List</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Card Order</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Manintain Card Group</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Create Card Group</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Prompted Id Maintenance</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Prompted Id Pool Maintenance</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">maintain Velocity Profile</a></li>            -->
          
          <!--<div class="row border-between">
            <p class="col-sm-6">This column does not have a border, because it's a first child.</p>
            <p class-"col-sm-6">This column has a border to the left</p>
          </div>           
          </ul>-->
          <ul class="dropdown-menu multi-column columns-3">
		            <div class="row">
			            <div class="col-sm-4 divider-right">
				            <h3>Card</h3>
                    Some Description
			            </div>
			            <div class="col-sm-4">
				            <ul class="multi-column-dropdown">
					            <li><a href="/cardlist">Card List</a></li>  
                      <li role="separator" class="divider"></li>                              
					            <li><a href="#">Manintain Card Group</a></li>	
                      <li role="separator" class="divider"></li>				          
					            <li><a href="#">Prompted Id Maintenance</a></li>	
                      <li role="separator" class="divider"></li>				           
					            <li><a href="#">maintain Velocity Profile</a></li>
				            </ul>
			            </div>
			            <div class="col-sm-4">
				            <ul class="multi-column-dropdown">
					            <li><a href="#">Card Order</a></li>				           
					            <li role="separator" class="divider"></li>
					            <li><a href="#">Create Card Group</a></li>
                      <li role="separator" class="divider"></li>
					            <li><a href="#">Prompted Id Pool Maintenance</a></li>
					           			            
				            </ul>
			            </div>
		            </div>
	            </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account & Transactions</a>
          <ul class="dropdown-menu">
            <li><a href="#">Account Summary</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Card Transactions</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Authorisation and Declines</a></li>          
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports</a>
          <ul class="dropdown-menu">
            <li><a href="#">My Reports</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Analytics Services</a></li>                  
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Financial</a>
          <ul class="dropdown-menu">
            <li><a href="#">Invoices and Payments</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Bill Pay</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">My Banks</a></li>          
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administration</a>
          <ul class="dropdown-menu">
            <li><a href="#">Site Locator</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">User Management</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Contact Us</a></li> 
            <li role="separator" class="divider"></li>
            <li><a href="#">Contact Management</a></li>         
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right"> 
          <!--<li>  
            <form class="navbar-form" role="search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
              </div>
            </form> 
          </li>   -->
         
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">RG UNMC SUB 3 - UN4BI <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">RG UNMC SUB 3 - UN4BI 1</a></li>
              <li><a href="#">RG UNMC SUB 3 - UN4BI 2</a></li>
            </ul>
          </li>
      </ul>
      <!--<form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default">Submit</button>
            </span>
          </div>
        </div>
      </form>-->
    </div>
  </div>
</nav>
