.navbar-default
{  
  /*background-image: linear-gradient(#B8B8B8	,#ABABAB 18%, #A1A1A1 77%, #919191);*/
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;  
  text-align: center;
  color: #004985;   
  font-family: "ProximaNovaSoft-Regular", Calibri, "Gill Sans", "Gill Sans MT", Candara, Segoe, "Segoe UI", Arial, sans-serif;
  border-top: 1px solid #C9C9C9;
}
